:root {
  --umkc-light-blue: #0066cc;
  --umkc-dark-blue: #04487f;
  --umkc-yellow: #ffd52f;
  --umkc-dark-yellow: #bd9e22;
  --standard-umkc-font: 'Roboto', serif;
}

/* default button implementation */
.btn {
  --background-hue: 0;
  --background-saturation: 0%;
  --initial-background-lightness: 90%;
  --background-lightness: var(--initial-background-lightness);
  --border-lightness: calc(var(--initial-background-lightness) - 20%);

  background-color: hsl(
    var(--background-hue),
    var(--background-saturation),
    var(--background-lightness)
  );
  border: 1px solid
    hsl(
      var(--background-hue),
      var(--background-saturation),
      var(--border-lightness)
    );
  outline: none;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.3em;
}

.btn:hover,
.btn:focus {
  --background-lightness: calc(var(--initial-background-lightness) - 10%);
  box-shadow: 0 0 5px 0
    hsl(
      var(--background-hue),
      var(--background-saturation),
      var(--border-lightness)
    );
}

.btn.btn-submit {
  --background-hue: 48;
  --background-saturation: 100%;
  --initial-background-lightness: 50%;
  color: var(--umkc-dark-blue);
  height: fit-content;
  width: fit-content;
  bottom: 10px;
  font-weight: 900;
  right: 35px;
}

.applicationPage-content {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20vh 0;
  padding-bottom: 0;
}

.form-container {
  /* background-color: var(--umkc-light-blue); */
  align-self: flex-start;
  display: flex;
  align-content: center;
  justify-content: center;
  width: fit-content;
  /* border: solid 3px black;
  border-radius: 5px; */
  padding: 2rem;
}

.Title {
  width: fit-content;
  align-self: flex-start;
  padding: 0;
}

.applicationPage-content a {
  color: black;

  font-weight: bolder;
}

.applicationPage-content a:hover {
  color: black;

  cursor: pointer;
}

fieldset {
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

legend {
  margin-bottom: 1rem;
}

form label {
  margin-right: 2vw;
}

.home_link_app {
  color: black;
}
