.applicationPage-content {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20vh 0;
  padding-bottom: 0;
}

.form-container {
  background-color: red;
  align-self: flex-start;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50vw;
  border: solid 3px black;
  border-radius: 5px;
}

.Title {
  width: fit-content;
  align-self: flex-start;
  padding: 0;
}

.applicationPage-content a {
  color: black;

  font-weight: bolder;
}

.applicationPage-content a:hover {
  color: black;

  cursor: pointer;
}
