:root {
  --white: #fff;
  --border-color: black;
  --box-shadow: rgba(0, 0, 0, 0.05);
  --hover-background: #04487f;
  --hover-font-color: #ffd52f;
}

.classes {
  margin-top: 2vh;
  padding: 2vh 2vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));

  flex-basis: 75%;
  justify-items: center;
  align-items: center;
  gap: 1vw;
}

.class-container {
  border: var(--border-color) solid 1px;
  border-radius: 4px;
  /* height: 100%; */
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  cursor: pointer;

  align-items: center;
  padding: 5%;
  box-shadow: 2px 2px 5px var(--box-shadow);
}

.class-container:hover,
.class-container:focus {
  background-color: var(--hover-background);
  color: var(--hover-font-color);
}

.class {
  display: flex;
  width: 100%;

  justify-content: space-between;
}

.Extra-details {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding-top: 2vh;
  border-top: solid black 1px;
}

.filter {
  background-color: var(--hover-background);
  flex-basis: 25%;
  margin: 2rem;
  text-align: center;
}

.level {
}

.div_container {
  display: flex;
  justify-content: space-between;

  background-color: #ffd52f;
}
