:root {
  --white: #fff;
  --border-color: black;
  --box-shadow: rgba(0, 0, 0, 0.05);
  --hover-background: #04487f;
  --hover-font-color: #ffd52f;
}

.classes {
  margin-top: 2vh;
  padding: 2vh 2vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));

  justify-items: center;
  align-items: center;
  gap: 1vw;
}

.class {
  border: var(--border-color) solid 1px;
  border-radius: 4px;
  height: 6vh;
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  box-shadow: 2px 2px 5px var(--box-shadow);
}

.class:hover,
.class:focus {
  background-color: var(--hover-background);
  color: var(--hover-font-color);
}
