:root {
  --white: #fff;
  --border-color: black;
  --box-shadow: rgba(0, 0, 0, 0.05);
  --hover-background: #04487f;
  --hover-font-color: #ffd52f;
}

.classes {
  margin-top: 2vh;
  padding: 2vh 2vw;
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  background-image: url('../assets/Big_roo.png');
  background-position: center center;
  background-size: cover;

  justify-items: center;
  align-items: center;
  gap: 1vw;
}

.class-container {
  border: var(--border-color) solid 1px;
  border-radius: 4px;
  /* height: 100%; */
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  cursor: pointer;

  align-items: center;
  padding: 5%;
  box-shadow: 2px 2px 5px var(--box-shadow);
}

.class-container:hover,
.class-container:focus {
  background-color: var(--hover-background);
  color: var(--hover-font-color);
}

.selected {
  background-color: var(--hover-background);
  color: var(--hover-font-color);
}

.class {
  display: flex;
  width: 100%;

  justify-content: space-between;
}

.Extra-details {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding-top: 2vh;
  border-top: solid black 1px;
}
.btn.filter-btn {
  --background-hue: 48;
  margin-left: 50px;
  --background-saturation: 100%;
  --initial-background-lightness: 50%;
  color: var(--umkc-light-blue);
  bottom: 10px;
  font-weight: 900;
  right: 35px;
}

.btn.close-btn {
  height: fit-content;
  position: absolute;
  font-size: small;
  z-index: 5;
  top: 0;
  right: 15px;
}
.filter {
  flex-basis: 25%;
  margin: 2rem;
  padding-left: 2em;
  text-align: left;
  background-color: white;
  padding-top: 15px;
  position: relative;
  height: fit-content;
  margin-left: 0;
  border-top: 1px solid var(--hover-background);
  border-right: 1px solid var(--hover-background);
  border-bottom: 1px solid var(--hover-background);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.filter fieldset {
  border: none;
  display: flex;
  column-gap: 2em;
  justify-content: flex-start;
}

.filter label {
  width: fit-content;
}

.level {
}

.div_container {
  display: flex;
  justify-content: space-between;
}

.div_container input,
.div_container label {
  margin: 0;
  padding: 0;
}

a {
  color: black;
}
