.loginPage-content {
  margin-top: 20vh;
  text-align: center;
  padding: 40vh 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.loginPage-content a {
  color: black;

  font-weight: bolder;
}

.loginPage-content a:hover {
  color: black;

  cursor: pointer;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: var(--umkc-light-blue);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

input[type='text'],
input[type='password'],
button,
textarea {
  font-family: 'Roboto', serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.75rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.75rem;
  background: black;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.centered-aligned-sections {
  display: flex;
  margin-top: 8rem;
  justify-content: center;
  color: white !important;
}

.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin-top: 20px;
}
