/* Nav Bar styling */
:root {
  --umkc-light-blue: #0066cc;
  --umkc-dark-blue: #04487f;
  --umkc-yellow: #ffd52f;
  --standard-umkc-font: 'Roboto', serif;
}

.Nav-bar {
  display: flex;
  justify-content: space-between;

  position: sticky; /* Make it stick/fixed */
  top: 0; /* Hide the navbar 50 px outside of the top view */
  width: 100%;
  background-color: var(--umkc-light-blue);
  border-bottom: var(--umkc-yellow) 2vh solid;
  z-index: 100;
}

.school_department {
  display: flex;
  align-items: center;
}

.school-name {
}

.department {
  color: white;
  align-self: flex-end;
}

/* default button implementation */

.btn.login-btn {
  --background-hue: 48;
  --background-saturation: 100%;
  --initial-background-lightness: 50%;
  background-color: hsl(48, 100%, 50%);

  color: var(--umkc-light-blue);
}

.btn.login-btn:hover,
.btn.login-btn:focus {
  --background-color: hsl(48, 100%, 0%);
  box-shadow: 0 0 5px 0 hsl(hsl(48, 100%, 30%));
}

.login-btn:hover,
.login-btn:focus {
  text-decoration: underline;
  background-color: hsl(48, 100%, 40%);
  box-shadow: 0 0 5px 0 hsl(hsl(48, 100%, 30%));
}

/* Nav bar styling end */
