@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-h {
  height: 100svh;
}

body {
  overflow: hidden;
}

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 500ms ease-in forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 500ms ease-in forwards;
}
